stages:
  - validate
  - plan
  - apply
  - build
  - deploy

#############################################
# PIPELINE INPUT VARIABLES
#############################################

variables:
  CLOUD:
    value: "aws"
    options:
      - aws
      - gcp
  ENVIRONMENT:
    value: "dev"
    options:
      - dev
      - staging
      - prod
  ACTION:
    value: "infra"
    options:
      - infra
      - deploy

#############################################
# TERRAFORM VALIDATE
#############################################

terraform_validate:
  stage: validate
  image:
    name: hashicorp/terraform:1.6
    entrypoint: [""]
  script:
    - cd Infra/$CLOUD/environments/$ENVIRONMENT
    - terraform init -backend=false
    - terraform validate
  rules:
    - if: '$ACTION == "infra"'

#############################################
# TERRAFORM PLAN
#############################################

terraform_plan:
  stage: plan
  image:
    name: hashicorp/terraform:1.6
    entrypoint: [""]
  script:
    - cd Infra/$CLOUD/environments/$ENVIRONMENT
    - terraform init
    - terraform plan
  rules:
    - if: '$ACTION == "infra"'

#############################################
# TERRAFORM APPLY (MANUAL)
#############################################

terraform_apply:
  stage: apply
  image:
    name: hashicorp/terraform:1.6
    entrypoint: [""]
  script:
    - cd Infra/$CLOUD/environments/$ENVIRONMENT
    - terraform init
    - terraform apply -auto-approve
  when: manual
  rules:
    - if: '$ACTION == "infra"'

#############################################
# BUILD BACKEND
#############################################

build_backend:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t saravana2002/pgagi-backend:$CI_COMMIT_SHORT_SHA ./backend
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
    - docker push saravana2002/pgagi-backend:$CI_COMMIT_SHORT_SHA
  rules:
    - if: '$ACTION == "deploy"'
      changes:
        - backend/**

#############################################
# BUILD FRONTEND
#############################################

build_frontend:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t saravana2002/pgagi-frontend:$CI_COMMIT_SHORT_SHA ./frontend
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
    - docker push saravana2002/pgagi-frontend:$CI_COMMIT_SHORT_SHA
  rules:
    - if: '$ACTION == "deploy"'
      changes:
        - frontend/**

#############################################
# DEPLOY AWS
#############################################

deploy_aws:
  stage: deploy
  image: amazon/aws-cli
  script:
    - aws ecs update-service --cluster pgagi-$ENVIRONMENT-cluster --service pgagi-$ENVIRONMENT-backend-svc --force-new-deployment
    - aws ecs update-service --cluster pgagi-$ENVIRONMENT-cluster --service pgagi-$ENVIRONMENT-frontend-svc --force-new-deployment
  rules:
    - if: '$CLOUD == "aws" && $ACTION == "deploy"'

#############################################
# DEPLOY GCP
#############################################

deploy_gcp:
  stage: deploy
  image: google/cloud-sdk:latest
  script:
    - echo "$GCP_SA_KEY" > key.json
    - gcloud auth activate-service-account --key-file=key.json
    - gcloud config set project YOUR_GCP_PROJECT_ID
    - gcloud compute instance-groups managed rolling-action restart pgagi-$ENVIRONMENT-backend-mig --zone asia-south1-a
    - gcloud compute instance-groups managed rolling-action restart pgagi-$ENVIRONMENT-frontend-mig --zone asia-south1-a
  rules:
    - if: '$CLOUD == "gcp" && $ACTION == "deploy"'