stages:
  - validate
  - plan
  - apply
  - destroy
  - build
  - deploy

#############################################
# PIPELINE INPUTS (UI DROPDOWNS)
#############################################

inputs:
  CLOUD:
    description: "Select Cloud Provider"
    options:
      - aws
      - gcp
    default: aws

  ENVIRONMENT:
    description: "Select Environment"
    options:
      - dev
      - staging
      - prod
    default: dev

  ACTION:
    description: "Select Action"
    options:
      - infra
      - deploy
    default: infra

#############################################
# TERRAFORM VALIDATE
#############################################

terraform_validate:
  stage: validate
  image:
    name: hashicorp/terraform:1.6
    entrypoint: [""]
  script:
    - export TF_ROOT=Infra/$CLOUD/environments/$ENVIRONMENT
    - cd $TF_ROOT
    - terraform init -backend=false
    - terraform validate
  rules:
    - if: '$ACTION == "infra"'

#############################################
# TERRAFORM PLAN
#############################################

terraform_plan:
  stage: plan
  image:
    name: hashicorp/terraform:1.6
    entrypoint: [""]
  script:
    - export TF_ROOT=Infra/$CLOUD/environments/$ENVIRONMENT
    - cd $TF_ROOT
    - terraform init
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - Infra/$CLOUD/environments/$ENVIRONMENT/tfplan
  rules:
    - if: '$ACTION == "infra"'

#############################################
# TERRAFORM APPLY
#############################################

terraform_apply:
  stage: apply
  image:
    name: hashicorp/terraform:1.6
    entrypoint: [""]
  script:
    - export TF_ROOT=Infra/$CLOUD/environments/$ENVIRONMENT
    - cd $TF_ROOT
    - terraform apply tfplan
  when: manual
  rules:
    - if: '$ACTION == "infra"'

#############################################
# BUILD
#############################################

build_images:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t saravana2002/pgagi-backend:$CI_COMMIT_SHORT_SHA ./backend
    - docker build -t saravana2002/pgagi-frontend:$CI_COMMIT_SHORT_SHA ./frontend
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
    - docker push saravana2002/pgagi-backend:$CI_COMMIT_SHORT_SHA
    - docker push saravana2002/pgagi-frontend:$CI_COMMIT_SHORT_SHA
  rules:
    - if: '$ACTION == "deploy"'

#############################################
# DEPLOY AWS
#############################################

deploy_aws:
  stage: deploy
  image: amazon/aws-cli
  script:
    - aws ecs update-service --cluster pgagi-$ENVIRONMENT-cluster --service pgagi-$ENVIRONMENT-backend-svc --force-new-deployment
    - aws ecs update-service --cluster pgagi-$ENVIRONMENT-cluster --service pgagi-$ENVIRONMENT-frontend-svc --force-new-deployment
  rules:
    - if: '$CLOUD == "aws" && $ACTION == "deploy"'