workflow:
  rules:
    - if: '$ACTION == "none"'
      when: never
    - when: always
    
stages:
  - validate
  - plan
  - apply
  - build
  - deploy
  - destroy


include:
  - local: '.gitlab-ci-aws.yml'
  - local: '.gitlab-ci-gcp.yml'

variables:
  CLOUD: "aws"          # aws | gcp
  ENVIRONMENT: "dev"    # dev | staging | prod
  ACTION: "destroy"        # none | infra | deploy | destroy