stages:
  - validate
  - plan
  - apply
  - destroy
  - build
  - deploy

#################################################
# FORCE MANUAL RUN
#################################################

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - when: never

#################################################
# TERRAFORM VALIDATE
#################################################

terraform_validate:
  stage: validate
  image:
    name: hashicorp/terraform:1.6
    entrypoint: [""]
  script:
    - export TF_ROOT="infra/${CLOUD}/environments/${ENVIRONMENT}"
    - echo "Cloud: $CLOUD"
    - echo "Environment: $ENVIRONMENT"
    - echo "Path: $TF_ROOT"
    - test -d "$TF_ROOT" || (echo "Invalid path!" && exit 1)
    - cd $TF_ROOT
    - terraform init -backend=false
    - terraform validate
  rules:
    - if: '$ACTION == "infra"'

#################################################
# TERRAFORM PLAN
################################################

terraform_plan:
  stage: plan
  image:
    name: hashicorp/terraform:1.6
    entrypoint: [""]
  script:
    - export TF_ROOT="infra/${CLOUD}/environments/${ENVIRONMENT}"
    - test -d "$TF_ROOT" || (echo "Invalid path!" && exit 1)
    - cd $TF_ROOT
    - terraform init
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - infra/${CLOUD}/environments/${ENVIRONMENT}/tfplan
  rules:
    - if: '$ACTION == "infra"'

#################################################
# TERRAFORM APPLY (Manual)
#################################################

terraform_apply:
  stage: apply
  image:
    name: hashicorp/terraform:1.6
    entrypoint: [""]
  script:
    - export TF_ROOT="infra/${CLOUD}/environments/${ENVIRONMENT}"
    - cd $TF_ROOT
    - terraform apply tfplan
  when: manual
  rules:
    - if: '$ACTION == "infra"'

#################################################
# TERRAFORM DESTROY (Manual)
#################################################

terraform_destroy:
  stage: destroy
  image:
    name: hashicorp/terraform:1.6
    entrypoint: [""]
  script:
    - export TF_ROOT="Infra/${CLOUD}/environments/${ENVIRONMENT}"
    - cd $TF_ROOT
    - terraform destroy -auto-approve
  when: manual
  rules:
    - if: '$ACTION == "infra"'

#################################################
# BUILD DOCKER IMAGES
#################################################

build_images:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t saravana2002/pgagi-backend:$CI_COMMIT_SHORT_SHA ./backend
    - docker build -t saravana2002/pgagi-frontend:$CI_COMMIT_SHORT_SHA ./frontend
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
    - docker push saravana2002/pgagi-backend:$CI_COMMIT_SHORT_SHA
    - docker push saravana2002/pgagi-frontend:$CI_COMMIT_SHORT_SHA
  rules:
    - if: '$ACTION == "deploy"'

#################################################
# DEPLOY AWS
#################################################

deploy_aws:
  stage: deploy
  image: amazon/aws-cli
  script:
    - aws ecs update-service --cluster pgagi-$ENVIRONMENT-cluster --service pgagi-$ENVIRONMENT-backend-svc --force-new-deployment
    - aws ecs update-service --cluster pgagi-$ENVIRONMENT-cluster --service pgagi-$ENVIRONMENT-frontend-svc --force-new-deployment
  rules:
    - if: '$CLOUD == "aws" && $ACTION == "deploy"'

#################################################
# DEPLOY GCP
#################################################

deploy_gcp:
  stage: deploy
  image: google/cloud-sdk:latest
  script:
    - echo "$GCP_SA_KEY" > key.json
    - gcloud auth activate-service-account --key-file=key.json
    - gcloud config set project $GCP_PROJECT_ID
    - gcloud compute instance-groups managed rolling-action restart pgagi-$ENVIRONMENT-backend-mig --zone asia-south1-a
    - gcloud compute instance-groups managed rolling-action restart pgagi-$ENVIRONMENT-frontend-mig --zone asia-south1-a
  rules:
    - if: '$CLOUD == "gcp" && $ACTION == "deploy"'