workflow:
  rules:
    - if: '$ACTION == "none"'
      when: never
    - when: always

include:
  - local: '.gitlab-ci-aws.yml'
  - local: '.gitlab-ci-gcp.yml'

variables:
  CLOUD: "gcp"          # aws | gcp
  ENVIRONMENT: "dev"    # dev | staging | prod
  ACTION: "infra"        # none | infra | deploy | destroy