stages:
  - validate
  - plan
  - apply
  - deploy
  - destroy

########################################################
# GCP AUTH FUNCTION (OIDC)
########################################################

.gcp_auth: &gcp_auth
  - echo "$GCP_ID_TOKEN" > /tmp/gitlab_jwt_token
  - gcloud iam workload-identity-pools create-cred-config \
      "$GCP_WORKLOAD_IDENTITY_PROVIDER" \
      --service-account="$GCP_SERVICE_ACCOUNT_EMAIL" \
      --output-file="/tmp/gcp-cred.json" \
      --credential-source-file="/tmp/gitlab_jwt_token"
  - gcloud auth login --cred-file="/tmp/gcp-cred.json"
  - gcloud config set project "$GCP_PROJECT_ID"
  - export GOOGLE_APPLICATION_CREDENTIALS="/tmp/gcp-cred.json"

########################################################
# INSTALL TERRAFORM
########################################################

.before_terraform: &before_terraform
  - apt-get update -y
  - apt-get install -y unzip curl
  - curl -o terraform.zip https://releases.hashicorp.com/terraform/1.6.6/terraform_1.6.6_linux_amd64.zip
  - unzip terraform.zip
  - mv terraform /usr/local/bin/
  - terraform version

########################################################
# TERRAFORM VALIDATE
########################################################

terraform_validate_gcp:
  stage: validate
  image:
    name: google/cloud-sdk:latest
    entrypoint: [""]
  id_tokens:
    GCP_ID_TOKEN:
      aud: https://gitlab.com
  script:
    - *before_terraform
    - *gcp_auth
    - cd Infra/gcp/environments/$ENVIRONMENT
    - terraform init -backend=false
    - terraform validate
  rules:
    - if: '$CLOUD == "gcp" && $ACTION == "infra"'

########################################################
# TERRAFORM PLAN
########################################################

terraform_plan_gcp:
  stage: plan
  image:
    name: google/cloud-sdk:latest
    entrypoint: [""]
  id_tokens:
    GCP_ID_TOKEN:
      aud: https://gitlab.com
  script:
    - *before_terraform
    - *gcp_auth
    - cd Infra/gcp/environments/$ENVIRONMENT
    - terraform init
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - Infra/gcp/environments/$ENVIRONMENT/tfplan
    expire_in: 7 days
  rules:
    - if: '$CLOUD == "gcp" && $ACTION == "infra"'

########################################################
# TERRAFORM APPLY (MANUAL)
########################################################

terraform_apply_gcp:
  stage: apply
  image:
    name: google/cloud-sdk:latest
    entrypoint: [""]
  id_tokens:
    GCP_ID_TOKEN:
      aud: https://gitlab.com
  script:
    - *before_terraform
    - *gcp_auth
    - cd Infra/gcp/environments/$ENVIRONMENT
    - terraform init
    - terraform apply tfplan
  when: manual
  rules:
    - if: '$CLOUD == "gcp" && $ACTION == "infra"'

########################################################
# DEPLOY (MIG RESTART)
########################################################

deploy_gcp:
  stage: deploy
  image:
    name: google/cloud-sdk:latest
    entrypoint: [""]
  id_tokens:
    GCP_ID_TOKEN:
      aud: https://gitlab.com
  script:
    - *gcp_auth
    - gcloud compute instance-groups managed rolling-action restart pgagi-$ENVIRONMENT-backend-mig --zone asia-south1-a
    - gcloud compute instance-groups managed rolling-action restart pgagi-$ENVIRONMENT-frontend-mig --zone asia-south1-a
  rules:
    - if: '$CLOUD == "gcp" && $ACTION == "deploy"'

########################################################
# TERRAFORM DESTROY (MANUAL)
########################################################

terraform_destroy_gcp:
  stage: destroy
  image:
    name: google/cloud-sdk:latest
    entrypoint: [""]
  id_tokens:
    GCP_ID_TOKEN:
      aud: https://gitlab.com
  script:
    - *before_terraform
    - *gcp_auth
    - cd Infra/gcp/environments/$ENVIRONMENT
    - terraform init
    - terraform destroy -auto-approve
  when: manual
  rules:
    - if: '$CLOUD == "gcp" && $ACTION == "destroy"'